<%= react_component "App" %>

<!-- <% if @movie %>

  <ul>
    <h1><%= @movie["Title"] %></h1><br>
    <img src= <%= @movie["Poster"] %> alt="" /><br>

    <%= @movie["Year"] %>
    <%= @movie["Rated"] %>
    <%= @movie["Genre"] %><br>
    Runtime: <%= @movie["Runtime"] %><br>
    Writer: <%= @movie["Writer"] %><br>
    Actors:<br>
    <%= @movie["Actors"] %><br>
    Plot:<br>
    <%= @movie["Plot"] %><br>
  </ul>
<% end %> -->
