<% if @movie %>
  <ul>
    <li><%= @movie["Title"] %></li>
    <li><%= @movie["Year"] %></li>
    <li><%= @movie["Rated"] %></li>
    <li><%= @movie["Runtime"] %></li>
    <li><%= @movie["Genre"] %></li>
    <li><%= @movie["Writer"] %></li>
    <li><%= @movie["Actors"] %></li>
    <li><%= @movie["Plot"] %></li>
  </ul>
<% end %>
